In [15]:
import pandas as pd
import numpy as np

In [16]:
auctions = pd.read_csv("auctions.csv", low_memory=False)
auctions.head()

,auction_type_id,country,date,device_id,platform,ref_type_id,source_id
0,NaN,6333597102633388268,2019-03-11 14:18:33.290763,6059599345986491085,1,1,0
1,NaN,6333597102633388268,2019-03-11 14:18:34.440157,1115994996230693426,1,1,0
2,NaN,6333597102633388268,2019-03-11 14:18:35.862360,7463856250762200923,1,1,0
3,NaN,6333597102633388268,2019-03-11 14:18:36.167163,7829815350267792040,1,1,0
4,NaN,6333597102633388268,2019-03-11 14:18:37.728590,1448534231953777480,1,1,0

In [17]:
auctions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19571319 entries, 0 to 19571318
Data columns (total 7 columns):
auction_type_id    float64
country            int64
date               object
device_id          int64
platform           int64
ref_type_id        int64
source_id          int64
dtypes: float64(1), int64(5), object(1)
memory usage: 1.0+ GB

In [18]:
auctions['platform'].value_counts()

1    15541825
2     4029494
Name: platform, dtype: int64

In [19]:
auctions['ref_type_id'].value_counts()

1    15541825
7     4029494
Name: ref_type_id, dtype: int64

In [20]:
auctions['source_id'].value_counts()

0    13354597
1     4016739
5     1466494
2      582083
6      151406
Name: source_id, dtype: int64

In [21]:
auctions['source_id'] = auctions['source_id'].astype(np.int8)
auctions['platform'] = auctions['platform'].astype(np.int8)
auctions['ref_type_id'] = auctions['ref_type_id'].astype(np.int8)

In [22]:
auctions['country'].value_counts()

6333597102633388268    19571319
Name: country, dtype: int64

In [23]:
auctions['auction_type_id'].isnull().all()

True

In [24]:
auctions = auctions.drop('country', axis=1)
auctions = auctions.drop('auction_type_id', axis=1)
auctions.head()

,date,device_id,platform,ref_type_id,source_id
0,2019-03-11 14:18:33.290763,6059599345986491085,1,1,0
1,2019-03-11 14:18:34.440157,1115994996230693426,1,1,0
2,2019-03-11 14:18:35.862360,7463856250762200923,1,1,0
3,2019-03-11 14:18:36.167163,7829815350267792040,1,1,0
4,2019-03-11 14:18:37.728590,1448534231953777480,1,1,0

In [25]:
auctions['date'] = auctions['date'].astype("datetime64")

In [26]:
auctions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19571319 entries, 0 to 19571318
Data columns (total 5 columns):
date           datetime64[ns]
device_id      int64
platform       int8
ref_type_id    int8
source_id      int8
dtypes: datetime64[ns](1), int64(1), int8(3)
memory usage: 354.6 MB