In [1]:
import pandas as pd
import numpy as np

In [2]:
tipos = {"platform":np.uint8, "ref_type_id":np.uint8, "source_id":np.uint8, "device_id":np.uint64}

In [4]:
auctions = pd.concat((x for x in pd.read_csv('../../data/auctions.csv.gzip', chunksize=50000, compression='gzip', low_memory=False, dtype=tipos, parse_dates=["date"], usecols=["date", "platform", "ref_type_id", "source_id", "device_id"])))

In [5]:
auctions.sample(5)

,date,device_id,platform,ref_type_id,source_id
10253065,2019-03-09 08:25:11.437518,3297550689811632561,1,1,0
16336286,2019-03-07 10:04:28.833838,6563262339938107154,1,1,5
18544555,2019-03-12 23:52:27.248792,211440781987761210,1,1,0
2720013,2019-03-12 23:16:21.548646,8140114989184617405,1,1,1
524301,2019-03-12 19:15:07.428539,3589183094373511767,1,1,0

In [6]:
auctions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19571319 entries, 0 to 19571318
Data columns (total 5 columns):
date           datetime64[ns]
device_id      uint64
platform       uint8
ref_type_id    uint8
source_id      uint8
dtypes: datetime64[ns](1), uint64(1), uint8(3)
memory usage: 354.6 MB

In [18]:
auctions['platform'].value_counts()

1    15541825
2     4029494
Name: platform, dtype: int64

In [19]:
auctions['ref_type_id'].value_counts()

1    15541825
7     4029494
Name: ref_type_id, dtype: int64

In [20]:
auctions['source_id'].value_counts()

0    13354597
1     4016739
5     1466494
2      582083
6      151406
Name: source_id, dtype: int64

In [21]:
auctions['source_id'] = auctions['source_id'].astype(np.int8)
auctions['platform'] = auctions['platform'].astype(np.int8)
auctions['ref_type_id'] = auctions['ref_type_id'].astype(np.int8)

In [22]:
auctions['country'].value_counts()

6333597102633388268    19571319
Name: country, dtype: int64

In [23]:
auctions['auction_type_id'].isnull().all()

True

In [24]:
auctions = auctions.drop('country', axis=1)
auctions = auctions.drop('auction_type_id', axis=1)
auctions.head()

,date,device_id,platform,ref_type_id,source_id
0,2019-03-11 14:18:33.290763,6059599345986491085,1,1,0
1,2019-03-11 14:18:34.440157,1115994996230693426,1,1,0
2,2019-03-11 14:18:35.862360,7463856250762200923,1,1,0
3,2019-03-11 14:18:36.167163,7829815350267792040,1,1,0
4,2019-03-11 14:18:37.728590,1448534231953777480,1,1,0

In [25]:
auctions['date'] = auctions['date'].astype("datetime64")

In [26]:
auctions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19571319 entries, 0 to 19571318
Data columns (total 5 columns):
date           datetime64[ns]
device_id      int64
platform       int8
ref_type_id    int8
source_id      int8
dtypes: datetime64[ns](1), int64(1), int8(3)
memory usage: 354.6 MB