In [4]:

'''import pandas as pd
a = pd.read_csv('preds_gxboost_installs_3ventana.csv', low_memory=False)
a.head()'''

   index           ref_hash        obj
0      0   1037575899869926  259200.00
1      1   4700892528469466  259200.00
2      2   4920567832392301  168778.08
3      3   8624897563799496  259200.00
4      4  11222455493472018  168778.08

In [7]:
'''a.drop(['index'],axis = 1,inplace=True)'''

In [11]:
'''a.head()'''

            ref_hash        obj
0   1037575899869926  259200.00
1   4700892528469466  259200.00
2   4920567832392301  168778.08
3   8624897563799496  259200.00
4  11222455493472018  168778.08

In [13]:
'''a.to_csv('preds_gxboost_installs_3ventana.csv',index=False)'''

In [54]:
import csv


def mezclar(archivo, archivo2):
    with open(archivo) as f, open(archivo2) as f2, open("mergeCatBoost.csv","w") as s:
                lector1 = csv.reader(f)
                lector2 = csv.reader(f2)
                escritor = csv.writer(s)

                escritor.writerow(next(lector1))
                next(lector2)

                for linea in lector1:
                    linea2 = next(lector2)

                    escritor.writerow([linea[0], min(linea[1], linea2[1])])



mezclar("preds_catboost_installsCFeatures_v3.csv", "preds_catboost_installsCFeatures_v4.csv")

In [23]:
'''import csv


def intercalar(entrada, string, salida):

    with open(entrada) as f, open(salida,"w") as s:
        lector = csv.reader(f)
        escritor = csv.writer(s)

        escritor.writerow(next(lector))

        for linea in lector:
            usuario = linea[0]
            valor = linea[1]

            escritor.writerow([usuario + string, valor])


intercalar("mergeXGBoost.csv","_sc","SubTargetXGBoost.csv")'''

In [24]:
'''intercalar("auctions_linear2.csv","_st","SubTargetLinear.csv")'''

In [55]:
import csv
import sys

def intercalar(entrada_1, entrada_2, salida):
    """
    entrada1 es el archivo que contiene las predicciones de installs
    entrada2 es el arch que tiene las preds de auctions
    salida es el nombre del archivo de salida
    """
    with open(entrada_1) as f, open(entrada_2) as f2, open(salida,"w") as s:
        lector1 = csv.reader(f)
        lector2 = csv.reader(f2)
        escritor = csv.writer(s)

        escritor.writerow(next(lector1))
        next(lector2)

        for linea in lector1:
            usuario1 = linea[0]
            valor1 = linea[1]

            linea2 = next(lector2)
            usuario2 = linea2[0]
            valor2 = linea2[1]

            escritor.writerow([usuario1 + "_sc", valor1])
            escritor.writerow([usuario2 + "_st", valor2])


intercalar("mergeCatBoost.csv", "auctions_linear2.csv", "TargetCatBoost_Linear2.csv")

In [56]:
import pandas as pd
t = pd.read_csv('target_competencia_ids.csv', low_memory=False)
a1 = pd.read_csv('TargetCatBoost_Linear2.csv', low_memory=False)

In [57]:
t.head()

                 ref_hash  obj
0  1000169251625791246_sc    0
1  1000169251625791246_st    0
2  1000395625957344683_sc    0
3  1000395625957344683_st    0
4  1003027494996471685_sc    0

In [58]:
t = t[['ref_hash']]
t.head()

                 ref_hash
0  1000169251625791246_sc
1  1000169251625791246_st
2  1000395625957344683_sc
3  1000395625957344683_st
4  1003027494996471685_sc

In [59]:
merge = t.merge(a1,on='ref_hash',how='left')
merge.head()

                 ref_hash            obj
0  1000169251625791246_sc  234684.146548
1  1000169251625791246_st  117202.317301
2  1000395625957344683_sc  259200.000000
3  1000395625957344683_st  130927.255058
4  1003027494996471685_sc  234884.159900

In [60]:
merge1 = merge.sort_values(by='ref_hash',ascending=True)
merge1.head()

                 ref_hash            obj
0  1000169251625791246_sc  234684.146548
1  1000169251625791246_st  117202.317301
2  1000395625957344683_sc  259200.000000
3  1000395625957344683_st  130927.255058
4  1003027494996471685_sc  234884.159900

In [61]:
merge1.to_csv('TargetCatBoost_Linear2.csv',index=False)