In [1]:
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import pandas as pd
import numpy as np

In [2]:
installs = pd.read_csv('data/installsConFeatures.csv', low_memory=False, parse_dates = ['created'], index_col=['created'])
installs = installs.sort_index()
installs.head()

,Unnamed: 0,application_id,ref_type,ref_hash,attributed,implicit,device_countrycode,device_brand,device_model,session_user_agent,...,top10apps,top50marcas,top10marcas,top10marcasSinNan,agentes,top50agentes,top10agentes,kindReducido,top10tipo,top10leng
created,,,,,,,,,,,,,,,,,,,,,
2019-04-18 00:00:01.560,94738,70,1,4432995619177048534,False,False,6287817205707153877,0,208,1095,...,0,0,0,0,0,0,0,1,1,9
2019-04-18 00:00:01.851,94737,70,1,5904733559638204455,False,False,6287817205707153877,0,208,1095,...,0,0,0,0,0,0,0,1,1,9
2019-04-18 00:00:05.152,111877,65,1,896373747754111825,False,True,6287817205707153877,6,102,2,...,3,6,6,6,2,2,1,0,0,8
2019-04-18 00:00:05.589,76146,27,0,3399210824535017892,False,False,6287817205707153877,0,190,2,...,0,0,0,0,21,14,6,1,1,2
2019-04-18 00:00:06.795,435184,339,0,1541425881979513687,False,False,6287817205707153877,0,190,2,...,0,0,0,0,68,46,10,1,1,6

In [3]:
installs.drop(['Unnamed: 0'],axis = 1,inplace=True)

In [4]:
info1 = installs['2019-04-21':'2019-04-23'].reset_index().groupby('ref_hash').agg({'created' : 'min'})
info1['created'] = info1['created'] - pd.Timestamp('2019-04-21 00:00:00')
info1['created'] = info1['created'].transform(lambda x: x.total_seconds())
info1 = info1.reset_index()
info1 = info1.merge(installs['2019-04-18':'2019-04-20'].reset_index(),on="ref_hash", how="right")
info1 = info1.rename(columns={'created_x':'label','created_y':'created'})

label1 = info1['label'].to_frame()
train1 = info1.drop('label', axis=1)

In [5]:
info2 = installs['2019-04-22':'2019-04-24'].reset_index().groupby('ref_hash').agg({'created' : 'min'})
info2['created'] = info2['created'] - pd.Timestamp('2019-04-22 00:00:00')
info2['created'] = info2['created'].transform(lambda x: x.total_seconds())
info2 = info2.reset_index()
info2 = info2.merge(installs['2019-04-19':'2019-04-21'].reset_index(),on="ref_hash", how="right")
info2 = info2.rename(columns={'created_x':'label','created_y':'created'})

label2 = info2['label'].to_frame()
train2 = info2.drop('label', axis=1)

In [6]:
info3 = installs['2019-04-23':'2019-04-25'].reset_index().groupby('ref_hash').agg({'created' : 'min'})
info3['created'] = info3['created'] - pd.Timestamp('2019-04-23 00:00:00')
info3['created'] = info3['created'].transform(lambda x: x.total_seconds())
info3 = info3.reset_index()
info3 = info3.merge(installs['2019-04-20':'2019-04-22'].reset_index(),on="ref_hash", how="right")
info3 = info3.rename(columns={'created_x':'label','created_y':'created'})

label3 = info3['label'].to_frame()
train3 = info3.drop('label', axis=1)

In [7]:
info4 = installs['2019-04-24':'2019-04-26'].reset_index().groupby('ref_hash').agg({'created' : 'min'})
info4['created'] = info4['created'] - pd.Timestamp('2019-04-24 00:00:00')
info4['created'] = info4['created'].transform(lambda x: x.total_seconds())
info4 = info4.reset_index()
info4 = info4.merge(installs['2019-04-21':'2019-04-23'].reset_index(),on="ref_hash", how="right")
info4 = info4.rename(columns={'created_x':'label','created_y':'created'})

label4 = info4['label'].to_frame()
train4 = info4.drop('label', axis=1)

In [79]:
ventana_ultima = installs['2019-04-24':'2019-04-26'].reset_index()

In [9]:
ventana_ultima

,created,application_id,ref_type,ref_hash,attributed,implicit,device_countrycode,device_brand,device_model,session_user_agent,...,top10apps,top50marcas,top10marcas,top10marcasSinNan,agentes,top50agentes,top10agentes,kindReducido,top10tipo,top10leng
0,2019-04-24 00:00:00.178,21,1,2105892908739159676,False,False,6287817205707153877,0,74,0,...,5,0,0,0,0,0,0,1,1,0
1,2019-04-24 00:00:02.223,226,1,208059911196607757,False,True,6287817205707153877,6,163,2,...,10,6,6,6,2,2,1,84,10,8
2,2019-04-24 00:00:02.352,70,1,9071467689792743380,False,False,6287817205707153877,0,208,1095,...,0,0,0,0,0,0,0,1,1,9
3,2019-04-24 00:00:02.353,70,1,9071467689792743380,False,True,6287817205707153877,0,208,1095,...,0,0,0,0,0,0,0,28,6,9
4,2019-04-24 00:00:02.764,70,1,7588153492836870321,False,False,6287817205707153877,0,208,1095,...,0,0,0,0,0,0,0,1,1,9
5,2019-04-24 00:00:04.010,36,1,8124402120818138602,False,False,6287817205707153877,1,227,2,...,2,1,1,1,2,2,1,1,1,8
6,2019-04-24 00:00:05.468,77,1,3632067678141958815,False,False,6287817205707153877,0,94,0,...,0,0,0,0,0,0,0,1,1,0
7,2019-04-24 00:00:06.381,31,1,4738903240456897851,False,False,6287817205707153877,0,101,0,...,0,0,0,0,0,0,0,1,1,0
8,2019-04-24 00:00:08.243,185,0,2015083770181669009,False,True,6287817205707153877,0,190,2,...,0,0,0,0,35,24,0,0,0,3
9,2019-04-24 00:00:09.630,226,1,5460606787430788722,False,True,6287817205707153877,6,326,2,...,10,6,6,6,2,2,1,0,0,8
10,2019-04-24 00:00:11.181,36,1,629139833515267735,False,False,6287817205707153877,4,286,2,...,2,4,4,4,2,2,1,1,1,8
11,2019-04-24 00:00:11.289,68,0,8194936736322569808,False,False,6287817205707153877,0,190,2,...,4,0,0,0,13,9,5,1,1,3
12,2019-04-24 00:00:11.310,94,1,8631001067776985171,False,False,6287817205707153877,0,23,0,...,0,0,0,0,0,0,0,1,1,0
13,2019-04-24 00:00:16.673,121,1,8607566028334201666,False,True,6287817205707153877,6,396,2,...,6,6,6,6,2,2,1,0,0,8
14,2019-04-24 00:00:16.786,121,1,2657009098806685060,False,False,6287817205707153877,119,903,2,...,6,43,3,3,2,2,1,1,1,8
15,2019-04-24 00:00:17.438,116,0,8658722099022160004,False,False,6287817205707153877,0,13,1729,...,0,0,0,0,0,0,0,1,1,1
16,2019-04-24 00:00:17.457,36,1,8014549802062089563,False,False,6287817205707153877,57,172,2,...,2,36,3,3,2,2,1,1,1,8
17,2019-04-24 00:00:18.800,121,1,2806854287180787497,False,False,6287817205707153877,8,309,2,...,6,8,3,3,2,2,1,1,1,8
18,2019-04-24 00:00:19.295,36,1,593461338733063397,False,False,6287817205707153877,6,230,2,...,2,6,6,6,2,2,1,1,1,8
19,2019-04-24 00:00:19.312,210,1,463868332328711804,False,True,6287817205707153877,0,1890,2,...,9,0,0,0,2,2,1,0,0,0
20,2019-04-24 00:00:19.439,133,1,6364100347736389806,False,False,6287817205707153877,6,70,2,...,0,6,6,6,2,2,1,1,1,8
21,2019-04-24 00:00:21.079,19,0,2564404568796334830,False,True,6287817205707153877,132,7,8,...,0,44,10,10,0,0,0,0,0,3
22,2019-04-24 00:00:21.247,19,0,2564404568796334830,False,False,6287817205707153877,132,7,5,...,0,44,10,10,0,0,0,1,1,3
23,2019-04-24 00:00:22.469,36,1,4719624852736205279,False,False,6287817205707153877,29,1170,2,...,2,23,3,3,2,2,1,1,1,8
24,2019-04-24 00:00:23.976,75,1,1208286121071850715,False,True,6287817205707153877,6,202,2,...,0,6,6,6,2,2,1,0,0,8
25,2019-04-24 00:00:24.110,65,1,2911319767761378823,False,True,6287817205707153877,7,517,2,...,3,7,3,3,2,2,1,0,0,8
26,2019-04-24 00:00:26.469,214,1,6152669824833310407,False,False,6287817205707153877,11,94,2,...,0,10,8,8,2,2,1,1,1,8
27,2019-04-24 00:00:27.145,128,1,1294676572203703967,False,False,6287817205707153877,75,569,2,...,0,40,3,3,2,2,1,1,1,8
28,2019-04-24 00:00:27.953,187,1,8090150646462939586,False,False,6287817205707153877,11,131,2,...,0,10,8,8,2,2,1,1,1,8
29,2019-04-24 00:00:27.974,327,1,22953570504094278,False,False,6287817205707153877,0,208,950,...,0,0,0,0,0,0,0,1,1,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160003,2019-04-26 23:59:34.360,226,1,1283602180414158032,False,False,6287817205707153877,1,143,2,...,10,1,1,1,2,2,1,1,1,8
160004,2019-04-26 23:59:36.585,121,1,5966058701159285340,False,True,6287817205707153877,1,17,2,...,6,1,1,1,2,2,1,0,0,8
160005,2019-04-26 23:59:37.493,269,1,7509819987731182485,False,True,6287817205707153877,0,71,0,...,0,0,0,0,0,0,0,0,0,0
160006,2019-04-26 23:59:37.592,269,1,1839761638286439722,False,True,6287817205707153877,0,1077,0,...,0,0,0,0,0,0,0,0,0,0
160007,2019-04-26 23:59:37.813,269,1,1839761638286439722,False,True,6287817205707153877,0,1077,0,...,0,0,0,0,0,0,0,0,0,0
160008,2019-04-26 23:59:38.504,230,0,1171697049112010611,False,False,6287817205707153877,0,190,2,...,0,0,0,0,48,32,8,1,1,3
160009,2019-04-26 23:59:38.646,65,1,2737756117120528949,False,False,6287817205707153877,11,30,2,...,3,10,8,8,2,2,1,1,1,8
160010,2019-04-26 23:59:39.884,210,1,6890115366174308693,False,True,6287817205707153877,0,1634,2,...,9,0,0,0,7,5,2,0,0,0
160011,2019-04-26 23:59:40.554,121,1,8672064263757886897,False,True,6287817205707153877,5,62,2,...,6,5,5,5,2,2,1,0,0,8
160012,2019-04-26 23:59:42.183,117,1,9028699977885666303,False,False,6287817205707153877,0,274,0,...,0,0,0,0,0,0,0,1,1,0
160013,2019-04-26 23:59:42.205,121,1,8672064263757886897,False,False,6287817205707153877,5,62,2,...,6,5,5,5,2,2,1,1,1,8
160014,2019-04-26 23:59:42.218,121,1,762711570227248701,False,True,6287817205707153877,6,95,2,...,6,6,6,6,2,2,1,0,0,8
160015,2019-04-26 23:59:42.250,121,1,762711570227248701,False,False,6287817205707153877,6,95,2,...,6,6,6,6,2,2,1,1,1,8
160016,2019-04-26 23:59:43.567,226,1,8787756425210901488,False,False,6287817205707153877,1,580,2,...,10,1,1,1,2,2,1,1,1,8
160017,2019-04-26 23:59:43.739,167,0,3912582119785748594,False,False,6287817205707153877,0,9,0,...,0,0,0,0,0,0,0,1,1,0
160018,2019-04-26 23:59:43.973,210,1,7899474095013519046,False,False,6287817205707153877,0,227,2,...,9,0,0,0,7,5,2,1,1,0
160019,2019-04-26 23:59:45.086,36,1,8083595837617919628,False,False,6287817205707153877,6,460,2,...,2,6,6,6,2,2,1,1,1,8
160020,2019-04-26 23:59:47.516,210,1,5394114677954965256,False,False,6287817205707153877,0,148,2,...,9,0,0,0,2,2,1,1,1,0
160021,2019-04-26 23:59:48.101,36,1,4598522669001071573,False,False,6287817205707153877,1,17,2,...,2,1,1,1,2,2,1,1,1,8
160022,2019-04-26 23:59:49.390,68,0,4030360552871556066,False,False,6287817205707153877,0,190,2,...,4,0,0,0,13,9,5,1,1,3
160023,2019-04-26 23:59:50.248,121,1,1760218743715819964,False,False,6287817205707153877,6,428,2,...,6,6,6,6,2,2,1,1,1,7
160024,2019-04-26 23:59:50.449,175,0,6693944010351105767,False,False,6287817205707153877,0,190,2,...,0,0,0,0,32,22,0,1,1,3
160025,2019-04-26 23:59:50.717,210,1,7921421656863068740,False,True,6287817205707153877,0,133,2,...,9,0,0,0,7,5,2,0,0,0
160026,2019-04-26 23:59:50.997,339,0,3664440694640603946,False,False,6287817205707153877,0,190,2,...,0,0,0,0,68,46,10,1,1,3
160027,2019-04-26 23:59:51.568,301,1,8409476862367395038,False,False,6287817205707153877,1,206,2,...,0,1,1,1,2,2,1,1,1,8
160028,2019-04-26 23:59:53.678,36,1,2109643789605982681,False,False,6287817205707153877,1,242,2,...,2,1,1,1,2,2,1,1,1,8
160029,2019-04-26 23:59:54.390,145,1,6507100863720810333,False,True,6287817205707153877,6,69,2,...,0,6,6,6,2,2,1,0,0,8
160030,2019-04-26 23:59:56.325,94,1,2711537335365228237,False,False,6287817205707153877,0,22,0,...,0,0,0,0,0,0,0,1,1,0
160031,2019-04-26 23:59:58.759,49,0,6922681713293271895,False,False,6287817205707153877,0,190,2,...,0,0,0,0,9,7,3,1,1,3
160032,2019-04-26 23:59:58.788,121,1,2971513103672009643,False,False,6287817205707153877,1,361,2,...,6,1,1,1,2,2,1,1,1,8

In [80]:
train1 = train1.dropna()
train2 = train2.dropna()
train3 = train3.dropna()
train4 = train4.dropna()
ventana_ultima = ventana_ultima.dropna()
label1 = label1.fillna(3*24*60*60)
label2 = label2.fillna(3*24*60*60)
label3 = label3.fillna(3*24*60*60)
label4 = label4.fillna(3*24*60*60)

In [81]:
train1['tiempoDesdeComienzoDeVentana'] = (installs.reset_index()['created'] - pd.Timestamp('2019-04-18 00:00:00')).transform(lambda x: x.total_seconds())
train2['tiempoDesdeComienzoDeVentana'] = (installs.reset_index()['created'] - pd.Timestamp('2019-04-19 00:00:00')).transform(lambda x: x.total_seconds())
train3['tiempoDesdeComienzoDeVentana'] = (installs.reset_index()['created'] - pd.Timestamp('2019-04-20 00:00:00')).transform(lambda x: x.total_seconds())
train4['tiempoDesdeComienzoDeVentana'] = (installs.reset_index()['created'] - pd.Timestamp('2019-04-21 00:00:00')).transform(lambda x: x.total_seconds())
ventana_ultima['tiempoDesdeComienzoDeVentana'] = (installs.reset_index()['created'] - pd.Timestamp('2019-04-24 00:00:00')).transform(lambda x: x.total_seconds())

In [82]:
train1['accionesDesdeQueComenzoLaVentana'] = np.arange(len(train1))
train2['accionesDesdeQueComenzoLaVentana'] = np.arange(len(train2))
train3['accionesDesdeQueComenzoLaVentana'] = np.arange(len(train3))
train4['accionesDesdeQueComenzoLaVentana'] = np.arange(len(train4))
ventana_ultima['accionesDesdeQueComenzoLaVentana'] = np.arange(len(ventana_ultima))

In [83]:
train1.drop(['created'],axis =1, inplace = True )
train2.drop(['created'],axis =1, inplace = True )
train3.drop(['created'],axis =1, inplace = True )
train4.drop(['created'],axis =1, inplace = True )
ventana_ultima.drop(['created'],axis =1, inplace = True )

In [52]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = \
    train_test_split(train4, label4, test_size=0.2, random_state=123)

In [53]:
reg=linear_model.LinearRegression()

In [54]:
reg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [55]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((128493, 31), (32124, 31), (128493, 1), (32124, 1))

In [56]:
pred=reg.predict(X_test)

In [57]:
# Square mean square error
mean_squared_error(y_test,pred)**0.5
# np.mean((pred-y_test)**2)

25425.472774204783

In [23]:
######### Ahora para las ventanas que queremos.

In [58]:
ventana_ultima.shape

(160033, 31)

In [59]:
predicciones=reg.predict(ventana_ultima)

In [70]:
ventana_ultima['obj']=predicciones

In [73]:
ventana_ultima['obj'].max()

22409694565776.0

In [74]:
#### Estas predicciones son muy grandes

In [76]:
clf = linear_model.SGDRegressor(max_iter=1000, tol=1e-3)

In [77]:
clf.partial_fit(train1,label1)
clf.partial_fit(train2,label2)
clf.partial_fit(train3,label3)
clf.partial_fit(train4,label4)

/home/barbara/.local/lib/python3.6/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/barbara/.local/lib/python3.6/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/barbara/.local/lib/python3.6/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/barbara/.local/lib/python3.6/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SGDRegressor(alpha=0.0001, average=False, early_stopping=False, epsilon=0.1,
             eta0=0.01, fit_intercept=True, l1_ratio=0.15,
             learning_rate='invscaling', loss='squared_loss', max_iter=1000,
             n_iter_no_change=5, penalty='l2', power_t=0.25, random_state=None,
             shuffle=True, tol=0.001, validation_fraction=0.1, verbose=0,
             warm_start=False)

In [85]:
predicciones2=clf.predict(ventana_ultima)

In [ ]:
#Estas son peores.

In [86]:
predicciones2

array([1.58282998e+45, 2.54902711e+45, 2.65875643e+45, ...,
       2.88342261e+45, 1.04607682e+45, 3.14422995e+45])