In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import date

%matplotlib inline

plt.style.use('default')

sns.set(style="whitegrid")

pd.options.display.float_format = '{:20,.2f}'.format

In [11]:
target = pd.read_csv('data/target_final_competencia_revamped.csv', low_memory=False)
target.head(20)

                  ref_hash  obj
0   1000169251625791232_sc    0
1   1000169251625791232_st    0
2   1000395625957344640_sc    0
3   1000395625957344640_st    0
4   1006670001679961600_sc    0
5   1006670001679961600_st    0
6   1010070503877148800_sc    0
7   1010070503877148800_st    0
8   1010265377387764992_sc    0
9   1010265377387764992_st    0
10  1010531372912327040_sc    0
11  1010531372912327040_st    0
12  1014428234021750400_sc    0
13  1014428234021750400_st    0
14   101763096421653088_sc    0
15   101763096421653088_st    0
16  1017668882534236800_sc    0
17  1017668882534236800_st    0
18  1022093956983448448_sc    0
19  1022093956983448448_st    0

0        True
1       False
2        True
3       False
4        True
5       False
6        True
7       False
8        True
9       False
10       True
11      False
12       True
13      False
14       True
15      False
16       True
17      False
18       True
19      False
20       True
21      False
22       True
23      False
24       True
25      False
26       True
27      False
28       True
29      False
        ...
5900     True
5901    False
5902     True
5903    False
5904     True
5905    False
5906     True
5907    False
5908     True
5909    False
5910     True
5911    False
5912     True
5913    False
5914     True
5915    False
5916     True
5917    False
5918     True
5919    False
5920     True
5921    False
5922     True
5923    False
5924     True
5925    False
5926     True
5927    False
5928     True
5929    False
Name: ref_hash, Length: 5930, dtype: bool

In [29]:
datasc = target.loc[target['ref_hash'].transform(lambda x: x.split('_')[1]) == 'sc']['ref_hash'].transform(lambda x: x.split('_')[0])
datasc.head()

0    1000169251625791232
2    1000395625957344640
4    1006670001679961600
6    1010070503877148800
8    1010265377387764992
Name: ref_hash, dtype: object

In [36]:
datasc = datasc['ref_hash'].astype(np.int64)
datasc.head()

0    1000169251625791232
2    1000395625957344640
4    1006670001679961600
6    1010070503877148800
8    1010265377387764992
Name: ref_hash, dtype: int64

In [37]:
datasc = datasc.to_frame()
datasc

                 ref_hash
0     1000169251625791232
2     1000395625957344640
4     1006670001679961600
6     1010070503877148800
8     1010265377387764992
10    1010531372912327040
12    1014428234021750400
14     101763096421653088
16    1017668882534236800
18    1022093956983448448
20    1024792555410741248
22    1030603044158081408
24    1030865855693267840
26    1032938399279723648
28       1037575899869926
30    1042912100594917248
32    1048460865075142784
34    1052346027668414208
36    1052782935269141248
38     105337483767914640
40    1053399148291039232
42    1054881396892383360
44    1055760083915480832
46    1069066119870904960
48    1070673984959261184
50    1071701264087131008
52    1076086792264173440
54    1078063581723896064
56    1078643268919016192
58    1083324672128707200
...                   ...
5870  9106533257940723712
5872  9107541226650015744
5874  9118542165981641728
5876  9118630733045711872
5878  9127407946387871744
5880  9131414595935186944
5882   913887564240841216
5884  9140920919494391808
5886  9147484137469683712
5888  9157646627544349696
5890   915907285474422016
5892  9175678605658620928
5894  9184649714736979968
5896  9195689871539772416
5898  9196946062251473920
5900  9199566543525015552
5902  9201763056911976448
5904  9202591485087099904
5906  9210211798524147712
5908   923580934104999040
5910   934102789941509248
5912   947121781706964608
5914   950195972417607808
5916   956704247780926464
5918   960623204161846784
5920   962595921037755136
5922   974553511695777536
5924    97694307709005920
5926   977508757724050432
5928   998948062397755392

[2965 rows x 1 columns]

In [9]:
len(target)

5930

In [12]:
target['obj'].value_counts()

0    5930
Name: obj, dtype: int64

In [8]:
target['ref_hash'].nunique()

5930

In [13]:
installs = pd.read_csv('data/installs.csv.gzip', low_memory=False, compression='gzip', parse_dates = ['created'])
installs.head()

,created,application_id,ref_type,ref_hash,click_hash,attributed,implicit,device_countrycode,device_brand,device_model,session_user_agent,user_agent,event_uuid,kind,wifi,trans_id,ip_address,device_language
0,2019-04-24 06:23:29.495,1,1494519392962156891,4716708407362582887,NaN,False,True,6287817205707153877,nan,"373,912,712,647,216,320.00",adjust.com,NaN,79837499-2f2a-4605-a663-e322f759424f,app_open,NaN,NaN,4243443387795468703,"3,301,377,775,977,699,840.00"
1,2019-04-24 02:06:01.032,1,1494519392962156891,7143568733100935872,NaN,False,False,6287817205707153877,nan,"7,805,538,927,598,770,176.00",adjust.com,NaN,NaN,NaN,NaN,NaN,4724288679627032761,"3,301,377,775,977,699,840.00"
2,2019-04-20 10:15:36.274,1,1494519392962156891,5230323462636548010,NaN,False,True,6287817205707153877,nan,"8,355,495,513,718,673,408.00",adjust.com,NaN,dda99e3c-9c4b-487d-891c-79f0a02cb4a8,app_open,NaN,NaN,8291809486355890410,"4,060,929,664,968,129,024.00"
3,2019-04-20 21:56:47.151,1,1494519392962156891,5097163995161606833,NaN,False,True,6287817205707153877,nan,"2,355,772,091,376,915,456.00",adjust.com,NaN,7010c3ce-0fcf-46c6-9be8-374cc0e20af4,app_open,NaN,NaN,4006811922873399949,"3,301,377,775,977,699,840.00"
4,2019-04-20 22:40:41.239,1,1494519392962156891,6328027616411983332,NaN,False,False,6287817205707153877,nan,"6,156,971,151,807,134,720.00",adjust.com,NaN,NaN,NaN,NaN,NaN,3386455054590810771,"3,301,377,775,977,699,840.00"

In [39]:
merged = installs.merge(datasc, how='inner', on='ref_hash')

In [42]:
merged.shape

(27, 18)

# Cálculo de labels, Primera ventana, Sc(d)

In [73]:
installs = pd.read_csv('data/installs.csv.gzip', low_memory=False, compression='gzip', parse_dates = ['created'], index_col=['created'])
installs = installs.sort_index()
installs.head()

,application_id,ref_type,ref_hash,click_hash,attributed,implicit,device_countrycode,device_brand,device_model,session_user_agent,user_agent,event_uuid,kind,wifi,trans_id,ip_address,device_language
created,,,,,,,,,,,,,,,,,
2019-04-18 00:00:01.560,70,1891515180541284343,4432995619177048534,NaN,False,False,6287817205707153877,nan,nan,Apsalar-Postback,NaN,NaN,NaN,NaN,NaN,8409380583076227678,nan
2019-04-18 00:00:01.851,70,1891515180541284343,5904733559638204455,NaN,False,False,6287817205707153877,nan,nan,Apsalar-Postback,NaN,NaN,NaN,NaN,NaN,806493034070542041,nan
2019-04-18 00:00:05.152,65,1891515180541284343,896373747754111825,NaN,False,True,6287817205707153877,"308,305,860,557,778,688.00","5,274,185,305,862,703,104.00",http-kit/2.0,Dalvik/2.1.0 (Linux; U; Android 9; SM-G9650 Bu...,8c8af5e3-96e7-4a49-9f17-cafa7f300f2c,af_app_opened,False,NaN,6319394158544413414,"6,977,049,253,562,486,784.00"
2019-04-18 00:00:05.589,27,1494519392962156891,3399210824535017892,NaN,False,False,6287817205707153877,nan,"6,794,880,020,077,884,416.00",http-kit/2.0,trivago/216 CFNetwork/978.0.7 Darwin/18.5.0,NaN,NaN,True,NaN,4206683315615624585,"5,221,862,722,669,225,984.00"
2019-04-18 00:00:06.795,339,1494519392962156891,1541425881979513687,NaN,False,False,6287817205707153877,nan,"6,794,880,020,077,884,416.00",http-kit/2.0,TikTok/109005 CFNetwork/758.5.3 Darwin/15.6.0,NaN,NaN,True,NaN,8335834010411202437,"7,528,973,756,559,112,192.00"

In [74]:
label = installs['2019-04-21':'2019-04-23'].reset_index().groupby('ref_hash').agg({'created' : 'min'})

In [75]:
label['created'] = label['created'] - pd.Timestamp('2019-04-21 00:00:00')
label['created'] = label['created'].transform(lambda x: x.total_seconds())

In [76]:
label

                                 created
ref_hash
40621409780134                 69,467.66
161514654074162               152,024.80
168103949904656                86,973.19
283297668933729               135,729.48
345999128501141                15,578.53
457867161681660                79,047.29
468235013311868               186,354.60
475635010681369                81,071.66
538200907470757               232,439.95
622102439689666               256,622.40
642751118419841               191,692.29
732881181016646               103,356.18
799061852287939               107,724.95
865017579225425                14,367.31
927815912071427                17,446.62
928188758790177                 6,616.40
929498811488996               193,955.29
955103142671534               180,287.86
1032420108923195              142,502.61
1146382551242621              169,154.68
1207038279434687               16,526.20
1432911101993339               91,792.41
1605639565711513              248,830.36
1617668080635787               48,845.80
1628128428742973              254,212.40
1643688855620044              152,522.61
1719664649402429               21,209.33
1771624460502263              189,807.25
1822908736592392              180,138.77
1852500971273658              154,298.88
...                                  ...
9220560227327479495           251,893.64
9220680591029307210            18,356.65
9220979147298272282           186,856.88
9221038087574391437           176,279.51
9221172436596972819            73,919.98
9221212352505742271            86,566.11
9221704193278504828               422.14
9221796665220021178            73,531.07
9221847630187171474           221,527.02
9221921633292085019             9,770.62
9221935935163135787           191,822.90
9222108601423203660            83,770.66
9222179728590281431           101,885.18
9222198970246875200           172,681.98
9222219622829554233           161,480.50
9222220279018953476           106,474.96
9222309424322214002           163,329.86
9222335651752279265           149,778.57
9222364486754568553           171,426.28
9222377405556113804            81,516.67
9222390789763599933            25,038.64
9222392563635134580             5,641.30
9222505600439168461           188,335.60
9222856470568969120           180,032.15
9222891164638072546            91,060.20
9222941581432951568           150,875.48
9223065111245755115           176,602.30
9223180934071401185            15,822.94
9223231006535555583           245,237.03
9223332684447638624            91,857.66

[133278 rows x 1 columns]